<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirate Coin Plunder</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/pirate-ship-amusement-park-svgrepo-com.svg" type="image/svg+xml">
    <script src="../static/js/script.js" defer></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#inicio">Início</a></li>
                <li><a href="#download">Download</a></li>
                <li><a href="#informacoes">Informações</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="inicio">
            <h3>Início</h3>
            <p>
                Embarque em uma aventura emocionante com Pirate Coin Plunder, onde a exploração e a estratégia se
                encontram em um universo de pirataria repleto de oportunidades. Como jogador, você será desafiado a
                expandir suas frotas e descobrir tesouros escondidos, enquanto enfrenta os perigos dos mares. Com uma
                jogabilidade que se adapta a todas as idades, você pode desfrutar de um ambiente seguro e cativante que
                incentiva o progresso constante e o desenvolvimento de estratégias. Além disso, o jogo continua a
                evoluir, com atualizações frequentes que adicionam novas mecânicas e desafios, mantendo a experiência
                fresca e envolvente. Prepare-se para se tornar o capitão mais renomado e acumular riquezas
                inimagináveis, tudo isso em um jogo que cresce junto com sua jornada de pirata.
            </p>
        </section>

        <section id="download">
            <h3>Download</h3>
            <p>Get the latest version of Pirate Coin Plunder and start your pirate journey today.</p>
            <button onclick="downloadGame()">Download Now</button>
        </section>

        <section id="informacoes">
            <h3>Informações</h3>
            <p>
                Pirate Coin Plunder é um jogo idle onde o jogador deve construir seu império de frotas de piratas,
                acumulando cada vez mais ouro. O jogo é adequado para todas as idades e tipos de público, proporcionando
                uma experiência divertida e desafiadora para todos. Com um sistema incremental, os jogadores podem ver
                claramente seu progresso, o que adiciona um elemento motivador e gratificante ao gameplay. Atualmente, o
                jogo está em desenvolvimento por uma equipe de um único desenvolvedor, que está constantemente
                trabalhando para adicionar novas funcionalidades e melhorar a experiência do usuário.
            </p>
        </section>
    </main>

    <footer>
        Desenvolvido por <a href="https://github.com/lucashaetingerr" target="_blank" class="link">@lucashaetingerr</a>
    </footer>
    

</body>

</html>