:root {
    --primary-color: url("../images/background-1.gif");
    --secondary-color: #f6e6cf;
    --accent-color: #000000;
    --text-color: #f4f4f4;
    --box-shadow-common: 0 8px 10px rgba(0, 0, 0, 0.3);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    background-image: var(--primary-color);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header, footer {
    height: 26px;
    border: 2px solid var(--accent-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 1000;
    background-image: url("../images/background-title-red.gif");
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: #ffffff; /* Cor branca para o texto */
    font-weight: bold; /* Negrito para o texto */
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff; /* Cor branca para links */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    padding: 0 5px;
    line-height: 26px;
}

nav ul li a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
    transform: scale(1.1);
}

main {
    margin: 60px 5% 60px 5%;
    text-align: left;
    background-color: #e9d7bf;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--accent-color);
    box-shadow: var(--box-shadow-common);
    flex-grow: 1;
}

section {
    margin-bottom: 40px;
    padding: 10px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h3 {
    margin-bottom: 10px;
    color: var(--accent-color);
    font-size: 1.7em;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

p {
    color: #5a2800;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-image: url("../images/background-title-green.gif");
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
    transform: scale(1.05);
}
